.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.deleteIcon {
  cursor: pointer;
  color: lightgrey;
  padding: 0 7px;
  font-size: 1rem;
  transition: transform 0.3s;
}

.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.deleteIcon:hover {
  color: red;
}
input:checked + span {
  text-decoration: line-through;
}
